* {
	margin: 0;
	padding: 0;
}

button {
	color: #fff;
	width: 150px;
	height: 100px;
	font-size: 30px;
}

/* Mobile */
@media only screen and (max-width: 480px) {
	button {
		max-width: 100%;
		display: block;
		height: 25px;
		color: black;
		font-size: 16px;
		margin: 10px auto;
		background-color: yellow;
	}
}
/* Tablet */
@media only screen and (min-width: 481px) {
	button {
		width: 49%;
		height: 50px;
		display: inline-block;
		font-size: 28px;
		margin: 10px auto;
		background-color: blue;
	}
}
/* Desktop */
@media only screen and (min-width: 1024px) {
	button {
		background-color: red;
		width: 20%;
		height: 100px;
		font-size: 48px;
		margin: 10px auto;
	}
}
